:root{
    --pc: #0A192F;
    /* --sc: white; */
    --sc: #F5F5F5;
    --outlll: #B1F0F7;
    --outl: #3acbdf;
    --green: green; 
    --trans: #00000000; 
    --sil: silver;
    --sb: #0A192F;
    --red: #ef4444;
}
body{
    top: 0;
    margin: 0;
    cursor: default;
    font-family: 'Roboto';
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--sc);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Red Hat Display", Arial, sans-serif;
    display: flex;
    align-items: center;
}
/* START OF NAVIGATION */
nav{
    display: flex;
    width: 100%;
    height: 10%;
    top: 0;
    background-color: var(--sc);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 10;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
nav ul li{
    list-style: none;
    font-family: 'Roboto';
    color: var(--outl);
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--outl);
}
nav ul li img{
    width: 2rem;
    height: 2rem;
}
nav ul li:nth-child(1){
margin-right: auto;
}
nav ul li:nth-child(2){
 margin-left: auto;
 margin-right: 0.5rem;
 object-fit: cover;
 padding: 0.5rem;
border-radius: 100%;
}
nav ul li:nth-child(2) img{
border-radius: 100%;
border: solid 2px var(--pc);
width: 2.5rem;
height: 2.5rem;
}

/* MAIN DIVISION */
#main{
 width: 100%;
 height: 90%;
 background-color: var(--pc);
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 align-items: center;
 margin: 0;
 bottom: 0;
 position: fixed;
overflow: hidden;

}
#main #navigator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 0;
    height: 95%;
    width: 5%;
    background-color: var(--pc);
    margin: 0.5rem;
    border: 2px solid var(--sc);
    border-radius: 0.5rem;
    gap: 0;
    .icons p{
   font-size: 0.5rem;
    }
    transition: all 0.2s ease-in-out;
}
#main #navigator:hover{
width: 10%;
.icons p{
   font-size: 0.8rem;
    }
}
#main #display{
    display: flex;
    flex-direction: column; 
    height: 95%;
    width: 100%;
    background-color: var(--sc);
    margin: 0.5rem;
    border: 2px solid var(--pc);
    border-radius: 0.5rem;
}
#main #navigator .icons{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
    align-items:  center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 0;
    border: solid 2px var(--trans);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
#main #navigator .icons:hover{
    border: solid 2px var(--sc);
    border-radius: 0.5rem;
}
#main #navigator .icons span{
    width: 2rem;
    height: 2rem;
}
#main #navigator .icons p{
    color: var(--outl);
}
#main #navigator .icons span img{
    width: 100%;
    height: 100%;
}
/* USER INFORMATION */
#user{
 display: none;
}
#user.active{
    top: 0;
    bottom: 0;
    width: 20rem;
    height: 100%;
    margin: 0;
    background-color: var(--sc);
    border: solid 1px var(--pc);
    position: fixed;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#user #close{
    width: 1.5rem;
    height: 1.5rem;
    top: 2rem;
    left: 2rem;
    position: absolute;
}
#user #close img{
    width: 100%;
    height: 100%;
}
#user #f{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     p{
        font-size: 1rem;
        color: var(--pc);
    }
}
#user #f #setting{
    width: 4rem;
    height: 4rem;
}
#user #f #editor{
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: translate(2rem, -2rem);
    background-color: var(--sc);
    border-radius: 100%;
}
#user #f #setting img{
    width: 100%;
    height: 100%;
    border: solid 1.5px var(--pc);
    border-radius: 100%;
}
#user #f #editor img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}



#termination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 20%;
    gap: 2rem;
    bottom: 0;
}
#delete{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1rem;
}
#delete button{
    background-color: var(--red);
    color: var(--sc);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: solid 1px var(--red);
    transition: all 0.2s ease-in-out;
}
#delete button:hover{
   padding: 0.5rem 2rem;
}

#logout{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logout button{
    background-color: var(--outl);
    color: var(--sc);
    border: solid 1px var(--outl);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    position: absolute;
    transition: all 0.2s ease-in-out;
}
#logout button:hover{
   padding: 0.5rem 2rem;
}


/* FOR PROFILE SECTION */
.profile-card { 
  max-width: 520px; margin: 2rem auto; padding: 1rem; 
  border: 1px solid #e5e7eb; border-radius: 12px; background:#fff;
}
.avatar-wrap { display:flex; justify-content:center; margin-bottom: 1rem; }
.avatar {
  width: 150px; height: 150px; border-radius: 50%;
  object-fit: cover; border: 2px solid #ddd;
}
.btn {
  display:inline-block; padding:.5rem 1rem; border-radius:8px; border:1px solid var(--outl);
  background:#f9fafb; cursor:pointer; margin-right:.5rem; color:var(--pc);
}
#deletePhotoForm{
    justify-self: center;
}
#avatarForm label{
    text-align: center;
    width: 7rem;
    height: 2rem;
    padding: 0rem;
    font-size: 1rem;
}
.btn.primary { background:#3acbdf; color:#fff; border-color:#3acbdf; }
.btn.danger  { background: var(--red); color:#fff; border-color:#ef4444; }
.btn[disabled] { opacity:.5; cursor:not-allowed; }
#profileMsg { margin-top: .75rem; color:#444; font-size:.9rem; }


/* FOR USER MANAGEMENT SECTION ==========================================================================*/
#user_management{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    overflow: hidden;
}
#user_management #user_mgt_nav{
    width: 12%;
    max-height: 90%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#user_management #user_mgt_nav span{
    width: 30%;
    height: 20%;
    padding: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

#user_management #user_mgt_nav span:hover{
    border: solid 2px var(--outl);
    border-radius: 10%;
}
/* #create_profile{
    border: none;
    background-color: rebeccapurple;
}
#create_profile:active{
    border: solid 2px var(--outl);
    background-color: #444;
} */
#user_management img{
    width: 100%;
    height: 100%;
}

#form{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--outl);
    border-radius: 0.5rem;
    height: 98%;
    min-width: 80%;
    background-color: var(--sc);
    gap: 2rem;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

#form div{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 95%;
    background-color: var(--trans);
    position: relative;
    align-items: center;
}
#form div input{
    width: 98%;
    height: 100%;
    margin: 0.3rem;
    padding: 1rem;
    padding-right: 4.2rem;
    padding-left: 2rem;
    display: flex;
    text-align: center;
    outline: none;
    border: 1px solid var(--outl);
    background-color: var(--trans);
    color: var(--pc);
    box-sizing: border-box;
}
#form input[type="submit"]{
    width: 50%;
    height: 3rem;
    margin: 0.3rem;
    outline: none;
    border: 1px solid var(--outl);
    background-color: var(--pc);
    color: var(--sc);
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}
#form input[type="submit"]:hover{
    height: 3.2rem;
}
#form div label{
    position: absolute;
    font-size: 0.8rem;
    color: var(--pc);
    align-self: flex-end;
    background-color: var(--sc);
}
#form div span{
    position: absolute;
    height: 1rem;
    width: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    z-index: 5;
}
#form div span img{
    width: 100%;
    height: 100%;
}
#form div .visibility{
    position: absolute;
    display: flex;
    height: 1rem;
    width: 1rem;
    right: 0.2rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 2rem 1rem;
}
#form div .visibility img{
     width: 100%;
    height: 100%;
}

#form div .clear{
    position: absolute;
    display: flex;
    height: 1rem;
    width: 1rem;
    right: 0.5rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 2rem 3rem;
     /* margin-left: 20rem; */
}
#form div .clear img{
     width: 100%;
    height: 100%;
}

#form p{
    color: var(--pc);
}
#form #profiling_success{
    color: var(--green);
}
#search_user{
    display: none;
    z-index: 10;
    justify-self: center;
    align-self: center;
    top:1rem;
    width: 98%;
    height: 10%;
    margin: 0.3rem;
    padding: 1rem;
    padding-right: 4.2rem;
    padding-left: 2rem;
    text-align: center;
    outline: none;
    border: 1px solid var(--outl);
    background-color: var(--trans);
    color: var(--pc);
    box-sizing: border-box;
}

#signin{
    color: var(--pc);
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}
#signin:hover{
    color: var(--outl);
}

/* CSS FOR REGISTERING NEW VEHICLES =============================*/
#vehicle{
     display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--outl);
    border-radius: 0.5rem;
    height: 98%;
    min-width: 80%;
    background-color: var(--sc);
    gap: 2rem;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

#vehicle div{
     display: flex;
    flex-direction: row;
    height: 10%;
    width: 95%;
    background-color: var(--trans);
    position: relative;
    align-items: center;
}
#vehicle div input{
     width: 98%;
    height: 100%;
    margin: 0.3rem;
    padding: 1rem;
    padding-right: 4.2rem;
    padding-left: 2rem;
    display: flex;
    text-align: center;
    outline: none;
    border: 1px solid var(--outl);
    background-color: var(--trans);
    color: var(--pc);
    box-sizing: border-box;
}
#vehicle div textarea{
     width: 98%;
    height: 150%;
     display: flex;
    text-align: center;
    background-color: var(--trans);
    outline: none;
    border: 1px solid var(--outl);
    color: var(--pc);
}

#vehicle input[type="submit"]{
    width: 50%;
    height: 3rem;
    margin: 0.3rem;
    outline: none;
    border: 1px solid var(--outl);
    background-color: var(--pc);
    color: var(--sc);
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}
#vehicle input[type="submit"]:hover{
    height: 3.2rem;
}
#vehicle div label{
    position: absolute;
    font-size: 0.8rem;
    color: var(--pc);
    align-self: flex-end;
    background-color: var(--sc);
}
#vehicle div span{
    position: absolute;
    height: 1rem;
    width: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    z-index: 5;
}
#vehicle div span img{
    width: 100%;
    height: 100%;
}
#vehicle div .visibility{
    position: absolute;
    display: flex;
    height: 1rem;
    width: 1rem;
    right: 0.2rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 2rem 1rem;
}
#vehicle div .visibility img{
     width: 100%;
    height: 100%;
}

#vehicle div .clear{
    position: absolute;
    display: flex;
    height: 1rem;
    width: 1rem;
    right: 0.5rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 2rem 3rem;
     /* margin-left: 20rem; */
}
#vehicle div .clear img{
     width: 100%;
    height: 100%;
}

#vehicle p{
    color: var(--pc);
}


/* MOBILE DISPLAY */
@media (max-width: 768px){
#main{
    flex-direction: column-reverse;
}
#main #navigator{
    flex-direction: row;
    width: 97%;
    height: 10%;
    padding: 0.5rem 0;  
    margin: 0;
}
#main #navigator .icons{
    height: 100%;
}
#main #navigator .icons span{
    width: 20%;
    height: 30%;
}
#main #display{
    width: 100%;
    height: 100%;
}

#main #navigator:hover{
.icons p{
    font-size: 1rem;
}
width: 95%;
}
#main #navigator .icons{
    height: 100%;
    justify-content: center;
    align-items: center;
}
#main #navigator .icons p{
    font-size: 1rem;
}

#display #user_management{
    flex-direction: column;
    gap: 1rem;
}
#display #user_management #user_mgt_nav{
    flex-direction: row;
    width: 50%;
    height: 20%;
    padding: 0.1rem;
}
#display #user_management #user_mgt_nav span{
    padding: 1rem;
}
}


