<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | cFleet</title>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="/forgot-password.css"/>
  </head>
  <body>
    <div id="forget_password">
      <% if (error) { %>
        <div class="alert alert-danger"><%= error %></div>
        <% } %>
  
        <% if (message) { %>
        <div class="alert alert-success"><%= message %></div>
        <% } %>
      <span><img alt="logo" src="/Svgs/sub3.png"></span>

      <h2>Account Recovery</h2>

      <form method="POST" action="/forgot-password">
        <div>
          <input type="email" name="email"  placeholder="input your email" required />
        </div>
        <input  type="submit" value="Send Reset Link"/>
      </form>
      
  

        <!-- <a href="/login">Back to Login</a> -->
    </div>
  </body>
</html>
