<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset Password | cFleet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/reset-password.css"/>
   <link rel="icon" type="image/png" href="/Svgs/sub3.png">

  </head>
  <body>
    <div id="reset_password">

      
      <% if (error) { %>
        <div id="error"><%= error %></div>
        <% } %>
  
        <% if (success) { %>
        <div id="success"><%= success %></div>
        <script>
          setTimeout(() => (window.location.href = "/login"), 4000);
        </script>
        <% } %>
      <span><img alt="logo" src="/Svgs/sub3.png"></span>

      <h2>Reset Password</h2>


      <% if (!success) { %>
      <form method="POST" action="/reset-password">
        <input type="hidden" name="token" value="<%= token %>" />

        <div class="mb-3">
          <input type="password" name="password" placeholder="New Password" required />
        </div>

        <div class="mb-3">
          <input type="password" name="confirmPassword" placeholder="Confirm Password" required />
        </div>

        <input type="submit" value="Reset Password" />
      </form>
      <% } %>
    </div>
  </body>
</html>
